*{
 
    box-sizing: border-box;

}
.body{
    overflow-x: none !important;
}
#myInput {
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 30%;
  font-size: 16px;
  border-radius: 20px;
  padding: 12px 10px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  float: right;
}
.header{
  height: 600px;
    width: 100%;
    background-image:url(image/93.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
.intro{
    font-size: 18px;
    font-weight: 400;
    border: 2px solid rgb(133, 15, 230);
    background-color: rgb(133, 15, 230);
    color: white;
    border-radius: 10px;
    letter-spacing: 3px;
}
.header2{
    height: 1200px;
    width: 100%;
    background-image:url(image/95.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

.clm{
    position: relative;
    float:left;
    width:14.28%;
    padding:3px;
    text-align: center;
    font-weight: bold;
    color: greenyellow;
}
.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: 300px;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
   
    }
  .button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 2px 1px;
    cursor: pointer;
  }
  .clm:hover .image {
    opacity: 0.5;
  }
  
  .clm:hover .middle {
    opacity: 1;
  }

.text{
    color:black ;
    background-color: white;
    font-size: 12px;
    padding: 12px 24px;
    text-align: center;


}
  .button{
    color: black;
    background-color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    padding: 10px 15px;
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
    margin: 2px 1px;
    font-weight: bold;

  }
  .button:hover{
      color: white;
      background-color: black;
  }
  

.flex-container {
    display: flex;
    background-color: DodgerBlue;}
    
.flex-container > div {
    background-color:black;
    color: darkturquoise;
    margin: 10px;
    padding: 20px 10px;
    font-size: 30px;}
.header3{
    height: 600px;
    width: 100%;
    background-image:url(image/93.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

footer{
    background-color: black;
    width: 100%;
    font-family: "open Sans";
    padding-top: 40px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: white;   
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: black;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.logo{
    color: white;
    font-size: 25px;
    padding: 10px;
    position: relative;
}
.icon{
    padding: 2% 6%;
    display: flex;
    align-items: center;
    justify-content: center;

}  
.nav img{
    width: 150px;
}
.icon i{
    color: white;
}